{
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@templates", "./src/templates"],
        ["@hooks", "./src/hooks"]
      ]
    }
  }
}